{
    "extends": "eslint-config-airbnb-base",
    "env": {
        "browser": false,
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "sourceType": "script"
    },
    "rules": {
        "arrow-parens": ["error", "as-needed"],
        "comma-dangle": ["error", "never"],
        "indent": [2, "tab", {
            "VariableDeclarator": 1,
            "SwitchCase": 1
        }],
        "no-bitwise": ["error", {
            "allow": ["~"]
        }],
        "no-param-reassign": ["error", {
            "props": false
        }],
        "no-plusplus": "off",
        "no-restricted-syntax": [
            'error',
            'ForInStatement',
            'LabeledStatement',
            'WithStatement',
        ],
        "no-tabs": "off",
        "strict": ["error", "global"]
    },
}
